In [11]:
# import dependencies
import pandas as pd
from datasketch import MinHash, MinHashLSH
from tqdm import tnrange, tqdm_notebook
from functools import reduce

In [1]:
# Read files

hdr = pd.read_csv('data1.csv')
items = pd.read_csv('data2.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
print (hdr.head())
print (items.head())

   Unnamed: 0 OLD_INVOICES_KEY INVOICE_ID  ORDER_CUST
0           0    DIST*TT226664   TT226664        6031
1           1    DIST*TT226666   TT226666        5946
2           2    DIST*TT226667   TT226667        5946
3           3    DIST*TT226680   TT226680        6031
4           4    DIST*TT226695   TT226695        5965
   Unnamed: 0   OLD_INVOICES_KEY     LINE_ITEM ORDER_QTY
0           0    PHOENIX*6627207  1639392*1526         1
1           1  PHOENIX*6667405-3    11780*1091       100
2           2    PHOENIX*6558740  1446242*1536         2
3           3    PHOENIX*6558740  1676454*1294         1
4           4    PHOENIX*6514491  1272582*1500        40

In [2]:
# perform inner join

joined = pd.merge(hdr, items, on='OLD_INVOICES_KEY', how='inner')

In [3]:
# drop unnecessary columns

joined.drop(['Unnamed: 0_x','Unnamed: 0_y'],axis=1,inplace=True)

# create product id column
joined['PRODUCT_ID'] = joined['LINE_ITEM'].apply(lambda x: str(x).split('*')[0])

joined.head()

  OLD_INVOICES_KEY INVOICE_ID  ORDER_CUST     LINE_ITEM ORDER_QTY PRODUCT_ID
0    DIST*TN741336   TN741336        6344  4480489*3181       1.0    4480489
1    DIST*TN741336   TN741336        6344  7170928*3259       1.0    7170928
2    DIST*TN741336   TN741336        6344  3320956*3276       1.0    3320956
3    DIST*TN741336   TN741336        6344  3541630*3105       1.0    3541630
4    DIST*TN741347   TN741347        6344  3934347*3349       1.0    3934347

In [58]:
joined['INVOICE_ID'].nunique()

318069

In [77]:
# create dictionary for customers

dic_cust = {}
for val,key in zip(joined['ORDER_CUST'],joined['INVOICE_ID']):
    if key not in dic_cust.keys():
        dic_cust[key] = val

In [69]:
# create dictionary for invoices

dic_invoice = {}
for key,val in zip(joined['INVOICE_ID'],joined['PRODUCT_ID']):
    if key not in dic_invoice.keys():
        dic_invoice[key] = [val]
    else:
        dic_invoice[key].append(val)

In [64]:
def make_df(dic,key,val):
    dict_frame = pd.DataFrame()
    dict_frame[key] = [x for x in dic.keys()]
    dict_frame[val] = [x for x in dic.values()]
    return dict_frame

In [79]:
make_df(dic_cust,'invoices','customer').tail()

        invoices  customer
318064  CL793319   1016659
318065  CL793810   1000822
318066  CL796379   1017903
318067  CL796779    979229
318068  CL796813   1006825

In [70]:
make_df(dic_invoice,'invoice','products').head()

    invoice                              products
0  TN741336  [4480489, 7170928, 3320956, 3541630]
1  TN741347                             [3934347]
2  TN741355                             [3050675]
3  TN741370                 [56730, 38130, 11154]
4  TN741372  [3635712, 3635386, 3633258, 3634363]

In [9]:
dict_frame.shape

(318069, 2)

In [12]:
# Create MinHash signatures

num_perm = 128
min_dict = {} # maps invoice id (eg 'TN741347') to min hash signatures

for key,val in tqdm_notebook(zip(dic.keys(),dic.values())): 
    m = MinHash(num_perm=num_perm)
    for shingle in val:
        m.update(shingle.encode('utf8'))
    min_dict[key] = m

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [34]:
# Create LSH index

lsh = MinHashLSH(threshold=0.4, num_perm=num_perm)
for key in tqdm_notebook(min_dict.keys()):
    lsh.insert(key,min_dict[key])

HBox(children=(IntProgress(value=0, max=318069), HTML(value='')))

In [19]:
# Example bucket of similar invoices

lsh.query(min_dict['TN741336'])

['TN741336']

In [22]:
[x for x in list(min_dict.keys())[:5]]

['TN741336', 'TN741347', 'TN741355', 'TN741370', 'TN741372']

In [91]:
bucket_size = 4
clusters = []
intersection = []
differences = []
prods_leftout = []
customers = []
for val in tqdm_notebook(min_dict.keys()):
    invoice_cluster = lsh.query(min_dict[val])
    leftout_criteria = len(invoice_cluster)/2
    if len(invoice_cluster)>=bucket_size:
        clusters.append(invoice_cluster)
        list_prods = []
        for val2 in invoice_cluster:
            list_prods.append(dic_invoice[val2])
        comm_products = list(reduce(lambda i, j: i & j, (set(x) for x in list_prods)))
        intersection.append(comm_products)
        flat_list = [item for sublist in list_prods for item in sublist]
        customers.append([dic_cust[x] for x in list(set(flat_list))])
        unique_prods = [x for x in flat_list if x not in comm_products]
        differences.append(unique_prods)
        left_out = list(set([x for x in flat_list if flat_list.count(x)>leftout_criteria and flat_list.count(x)<bucket_size]))
        prods_leftout.append(left_out)

HBox(children=(IntProgress(value=0, max=318069), HTML(value='')))

In [92]:
output = pd.DataFrame()
output['baskets'] = clusters
output['comm_prods'] = intersection
output['unique_prods'] = differences
output['left_out'] = prods_leftout
output['customers'] = customers
output

,baskets,comm_prods,unique_prods,left_out,customers
0,"[TN999174, TN849574-1, TN879514, TN741355, TN7...",[3050675],"[3046157, 4572731]",[],"[TN978210, TN980439, TN999174]"
1,"[TN854966, TN846046, TN741372, TN816142]",[],"[3635712, 3633258, 3634363, 3632830, 3635243, ...","[3635386, 3635712, 3634363]","[TN996878, TN993153, TN995363, TN981136, TN979..."
2,"[TN832624, TN741392, TN836640, TN800979, TN799...",[1141873],"[1145222, 1683045, 1683045, 1683045, 1145222, ...",[],"[TN980959, TN999001, TN961968, TN981147]"
3,"[TN761155, TN925180, TN986267, TN786646, TN909...",[],"[5176051, 5174419, 5071453, 5176051, 5174338, ...",[],"[TN981446, TN980485-3, TN981446, TN995777, TN9..."
4,"[TN861751, TN995897, TN927272, TN761889, TN936...",[4489121],[4207629],[],"[TN981671, TN981914]"
5,"[TN948740, TN741410, TN763950, TN948800]",[4153186],[4491389],[],"[TN981136, TN959053]"
6,"[TN902187-1, TN902187-3, TN936757, TN957360-5,...",[3892384],"[250429, 3883986, 1628409, 40672, 2246985, 450...",[],"[TN994464, TN978479, TN980538, TN999001, TN957..."
7,"[TN845542, TN978417, TN896049, TN741423, TN761...",[3804954],"[366570, 3805230, 273235]",[],"[TN979245, TN991561, TN972824, TN906601]"
8,"[TN958495, TN823431, TN846320, TN814783, TN741...",[1293180],"[3517810, 2854806]",[],"[TN977941, TN956985, TN976994]"
9,"[TN869337, TN958040, TN893238, TN741477]",[4298720],[],[],[TN993115]
10,"[TN965262, TN926246, TN937425, TN741480]",[4850732],[4917794],[],"[TN980916, TN993145]"
11,"[TN741485, TN756844, TN794642, TN804160, TN862...",[],"[7122218, 7124253, 7179803, 7124664, 7269430, ...",[],"[TN804160-1, TN935031, TN818287, TN804160, TN8..."
12,"[TN764634, TN839883, TN835107, TN908027, TN803...",[4938691],"[4937612, 4933867, 5086735, 5088538, 4933867, ...",[],"[TN979217, TN980485, TN974782, TN999902, TN985..."
13,"[TN790043, TN765544, TN965418, TN983814, TN741...",[3803304],[4131412],[],"[TN965418, TN976889]"
14,"[TN741502, TN906231, TN930053, TN915505]",[],"[4123953, 4126691, 4126691, 4123953, 4126691]",[4126691],"[TN981086-1, TN930053]"
15,"[TN839736, TN909026, TN883252, TN889308, TN951...",[4434961],"[4435171, 4296485, 2945958, 4841699, 4168793, ...",[],"[TN991974, TN981148, TN980485, TN956436, TN999..."
16,"[TN979915, TN925318, TN811236, TN741565, TN891...",[252842],"[293956, 1894043, 4208870, 2199958, 1900369, 4...",[],"[TN960706-3, TN980550, TN904008, 6809623, TN95..."
17,"[TQ670000, TN895972, TN845247, TN961219, TQ007...",[],"[48974, 18562, 234548, 48974, 42280, 42019, 48...",[],"[TN961219, TN997846, TQ618599, 7007250, TN9909..."
18,"[TN874357, TN741604, TN779903, TN935203]",[470994],[5057364],[],"[TN998251, TN979315]"
19,"[TN741643, TN955971, TN909213, TN800793, TN780...",[7229252],"[3809090, 4908634, 3809090, 3809090, 3809090, ...",[],"[TN960211, TN996913, TN993193]"
20,"[TN741646, TN945619, TN837738, TN878570, TN979...","[3536700, 3992500]","[3536704, 3534888, 3532915, 4216941, 1896209, ...",[],"[TN979967, TN968729, TN831741, TO996091, TN992..."
21,"[TN741648, TN793302-1, TN942150, TN953779]",[3997016],[49538],[],"[TN990495, TN983770-1]"
22,"[TN844059, TN890976, TN968765, TN741660]",[42938],"[4724976, 4727208]",[],"[TN998972, TN971314, TN964140]"
23,"[TN741699, TN994795, TN907787, TN914161, TN834...",[],"[2191034, 3820209, 4341508, 4342859, 4848414, ...",[],"[TN981033, TR276929, TN981475, 6943575, TN9883..."
24,"[TN741722-1, TN965108, TN741722, TN791945]",[1512362],"[4249689, 4108999, 1407463, 1516350, 1513523]",[],"[TN886934, TN859097-4, TN831414, TN945681, TN7..."
25,"[TN741722-1, TN965108, TN741722, TN791945]",[1512362],"[4249689, 4108999, 1407463, 1516350, 1513523]",[],"[TN886934, TN859097-4, TN831414, TN945681, TN7..."
26,"[TN903669, TN757731, TN741723, TN940294-1, TN7...",[],"[36152, 45971, 45971, 36152, 45971, 45971, 45971]",[],"[7083037, TN979555]"
27,"[TN819024, TN786852, TN761845-3, TN891141, TN7...",[5153227],[3303946],[],"[TN891141, TN957259]"
28,"[TN741756, TN775949, TN785684, TN948883, TN807...",[433852],"[28944, 2851375]",[],"[TN990365, TN972582, TN785684]"
29,"[TN814531, TN889848, TN741758, TN832106, TN904...",[4477499],"[271496, 441050, 1456276]",[],"[TN992264, TN976523, TN960152, TN981052]"
...,...,...,...,...,...
149195,"[6858870, 6756938, CK856944, 7079445, 6949080,...",[],"[5063997, 27416, 25199, 934048, 53834, 5080457...",[],"[CK856944, 7075717, 6944837, CK801659, CK80165..."
149196,"[6908473, 6782173, 6791088, 6705507, CL715574]",[4607417],"[4087421, 1855892, 43387]",[],"[CL770734, CL557299, 6908473, CL557299]"
149197,"[6885522, 6947978, CG587737, 7093665, 7080410,...",[],"[5136840, 3083970, 7031966, 5064869, 3083970, ...",[],"[CG525387, CG504780, CG540064, CG790908, CG801..."
149198,"[CE592841, 7041951, CE624068, CE710721]",[4271861],[4601777],[],"[CE624068, 7041951]"
149199,"[CG526141, 6773681, CG526141-1, 6683556, CG779...",[1904626],"[1355299, 1905656, 5159238, 1355125, 354586, 3...",[],"[CG779557, CG536486, CG536486, CG544324, CG526..."
149200,"[CG526141, 6773681, CG526141-1, 6683556, CG779...",[1904626],"[1355299, 1905656, 5159238, 1355125, 354586, 3...",[],"[CG779557, CG536486, CG536486, CG544324, CG526..."
149201,"[CG531686, 6874391, 6744970, 6603886]",[39157],"[3894400, 37409, 52190, 50797, 22983, 54946, 5...","[52190, 22983]","[CG531686, 6744970, CG684176, 7050510, CG53168..."
149202,"[CG535401, 6675131, 6675216, 6644682]",[556406],"[2043593, 1645758, 3914627]",[],"[7007434, 6675216, CG580677, CG535401]"
149203,"[TR338148, 6469017, CG538171, TO959156]",[36750],"[4492172, 36190, 22560, 4842185, 3980361, 5288...",[],"[CG538171, 7015110, CG538171, TR303958, 693434..."
149204,"[6897473, 6947978, 7093665, CG540064, 6836716,...",[],"[5064869, 5061619, 56258, 40185, 935278, 70319...",[],"[CG525387, CG504780, CG544324, CG540064, CG790..."
149205,"[TN742618, TN964599, TN854035, TN762896, TN940...",[3977281],"[231774, 3979430]",[],"[TN964556, TN854035, CI647865]"
149206,"[6797009, 6937229, CI675597, 6820353, 6559433]",[26787],"[1358628, 3326381, 352840, 24456, 426946, 3642...",[],"[6842560, 6559433, 7060341, CI675597, 6937229,..."
149207,"[CL507498, CL507498-2, 7046390, CL507498-1, TQ...",[],"[3993174, 5174280, 5174280, 3993174, 4435817, ...",[3993174],"[7046390, CL507498-2, CL507498-1]"
149208,"[CL507498, CL507498-2, 7046390, CL507498-1, TQ...",[],"[3993174, 5174280, 5174280, 3993174, 4435817, ...",[3993174],"[7046390, CL507498-2, CL507498-1]"
149209,"[TQ648740, CL507498, CL507498-2, CL507498-1]",[5174280],"[3993174, 3993174]",[],"[CL507498-2, CL507498-1]"
149210,"[6911926, 7030523, 6642861, CL511447, 6783044,...",[3090430],"[3694812, 1957385, 3086775, 3090729, 767158, 3...",[],"[6783044, 7054936, CL710468, CL511447, CL51144..."
149211,"[7034646, 7041233, 6967921, 7034663, 6628220, ...",[938247],"[5083927, 5083927, 7100914, 5083927, 5083927]",[],"[6628220, 7069333, CL785861]"
149212,"[7020755, 6954204, CL760729, CL530194]",[135057],"[4149017, 3357676, 3356820, 4389544]",[],"[CL761712, 6954204, CL530194, CL761712, CL760729]"
149213,"[CL702220, CL605491, CL565864, CL741843]",[3388403],"[3390268, 5154747]",[],"[CL702220, CL741843, CL741843]"
149214,"[6900190, 6929041, CL577084, 6775563, CL757126...",[],"[3889786, 3889786, 3889786, 3889786, 50688, 38...",[],"[CL757126, 6891538, 7028808, CL509103, CL75595..."
149215,"[7061979, CL757126, 6857808, 6561951, CL757122]",[3890155],"[7635883, 769138, 1431353, 3889786]",[],"[CL757126, CL509103, CL757122, 7061979, CL757122]"
149216,"[CL769031, CL710367, CL680839, CL757736]",[1145289],"[405817, 405857, 7612357, 7243830]",[],"[CL796813, CL757736, CL757736, CL757736, CL769..."
149217,"[7005889, 6852229, 6839518, 7020263, 6695754, ...","[166778, 413920]","[168620, 413645, 4782920, 865490, 40185, 21554...",[],"[CL585159, 7077569, CL549392, CL549392, 696540..."
149218,"[6967913, CL763856, 6785900, 6970625]",[52288],"[54615, 3926169, 4840518]",[],"[7079881, 7088201, CL763856, CL763856]"
149219,"[CL757736, CL769031, 6902856, CL680839, CL710367]",[1145289],"[405817, 405857, 7612357, 7243830, 937002]",[],"[CL796813, CL757736, CL757736, CL757736, CL769..."
149220,"[7071306, 6681119, 6721349, 6681338, 7002234, ...",[3888496],[3889945],[],"[CL562954, 7090577]"
149221,"[6870610, 7092266, 7010897, 6851392, CL777641]",[1311392],[],[],[CL777641]
149222,"[TQ132349, TQ338893, TQ651543, TQ980362, TQ174...",[4126192],"[2180896, 7111666, 4536076, 4424374, 3692760, ...",[],"[TQ905615-2, CL778079, TQ882161, TQ980362, TQ9..."
149223,"[CL601429, 6931738, CL779016, 6958925]",[4320396],"[192664, 1359204]",[],"[CL779016, CL601429, 7067214]"
149224,"[CL785861, 6987775, 6954341, 7022510, 6961934]",[5138466],"[938247, 6775, 57490, 3523534, 938247, 4843863...",[],"[CL770734, CL549392, CL785861, CL785861, CL785..."